body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
}

header {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 30px;
    width: 100%;
    padding: 15px 0 5px 0;
    background: hsl(186, 76%, 90%);
}

header p {
    margin: 0;
    padding: 30px 0 5px 0;
}

#title {
    font-family: 'Cedarville Cursive', cursive;
    margin: 0;
    padding: 15px 0 10px 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}